@page "/"

@using Syncfusion.Blazor.TreeGrid

<PageTitle>Интегратор - Главная</PageTitle>

<h1>Добро пожаловать!</h1>

<h4>Наш девиз:</h4>
<audio controls src="/Karandash_-_anat_shmotok_70669856.mp3"></audio>

<br/>
Мы занимаемся анализом и обработкой данных с тех пор, как человечество изобрело наскальные рисунки. Вы можете потратить многие дни на изучение возможностей конкурентов, но все равно придете к выводу, что Вам по всем вопросам либо к нам, либо в Почту России.