@page "/"

@using Syncfusion.Blazor.TreeGrid

<PageTitle>Интегратор - Главная</PageTitle>

<h1>Добро пожаловать!</h1>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@*<SfTreeGrid DataSource="@TreeData" IdMapping="SourcePath" ParentIdMapping="ParentPath">
    <TreeGridColumns>
        <TreeGridColumn Field="SourcePath" HeaderText="Путь"/>
        <TreeGridColumn Field="TranslatedPath" HeaderText="Переведённый путь"/>
        <TreeGridColumn Field="ParentPath" HeaderText="Предок"/>
        <TreeGridColumn Field="RoleAssignment" HeaderText="Роль"/>
        <TreeGridColumn Field="RoleElement" HeaderText="Выбранный элемент"/>
    </TreeGridColumns>
</SfTreeGrid>

@code {
    public class FolderAssignment
    {
        public string SourcePath { get; set; }

        public string TranslatedPath { get; set; }

        public string? ParentPath { get; set; }

        public int? RoleAssignment { get; set; }

        public int? RoleElement { get; set; }
    }

    public List<FolderAssignment> TreeData { get; set; }

    protected override void OnInitialized()
    {
        TreeData = new();

        TreeData.Add(new()
        {
            SourcePath = "千衣颂105A栋3楼330    号码YM22670449",
            TranslatedPath = "Room 330, 3rd Floor, Building 105A, Qiansong No. YM22670449",
            ParentPath = null,
            RoleAssignment = null,
            RoleElement = null
        });
        TreeData.Add(new()
        {
                SourcePath = "hanguang",
                TranslatedPath = "hanguang",
            ParentPath = null,
            RoleAssignment = null,
            RoleElement = null
        });
        TreeData.Add(new()
        {
                SourcePath = "weiyishang",
                TranslatedPath = "weiyishang",
            ParentPath = null,
            RoleAssignment = null,
            RoleElement = null
        });
        TreeData.Add(new()
        {
                SourcePath = "xiezou",
                TranslatedPath = "xiezou",
            ParentPath = null,
            RoleAssignment = null,
            RoleElement = null
        });
        TreeData.Add(new()
        {
                SourcePath = "xiezou2",
                TranslatedPath = "xiezou2",
            ParentPath = null,
            RoleAssignment = null,
            RoleElement = null
        });
    }
}*@