@page "/"

@using Syncfusion.Blazor.TreeGrid

<PageTitle>Интегратор - Главная</PageTitle>

<h1>Добро пожаловать!</h1>

<h4>Наш девиз:</h4>
<audio controls src="/Karandash_-_anat_shmotok_70669856.mp3"></audio>